<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269131577824-3aar35iqbie835j7j9v4tkj4pnaaotf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269131577824-3aar35iqbie835j7j9v4tkj4pnaaotf3</string>
	<key>API_KEY</key>
	<string>AIzaSyBVfKQ1KiPW-A79ZKEPIK1uXWX-JqPvKFs</string>
	<key>GCM_SENDER_ID</key>
	<string>269131577824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-c6d81</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-c6d81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269131577824:ios:de4dca24a2fd057f6dd385</string>
</dict>
</plist>